categorical_cols = full_dataset.select_dtypes(include=['object']).columns

for col in categorical_cols:
    plt.figure(figsize=(12, 6))
    full_counts = full_dataset[col].value_counts(normalize=True)
    russian_counts = russian_dataset[col].value_counts(normalize=True)
    
    # Combiner les deux séries pour éviter les valeurs manquantes
    combined_counts = pd.concat([full_counts, russian_counts], axis=1, keys=['Full Dataset', 'Russian Dataset']).fillna(0)
    
    combined_counts.plot(kind='bar', figsize=(12, 6))
    plt.title(f'Distribution des catégories pour {col}')
    plt.xlabel(col)
    plt.ylabel('Proportion')
    plt.legend()
    plt.show()
